
<html>
<meta charset="UTF-8">
<head>
    <meta charset="UTF-8">
    <title>Производство красок</title>
    <link rel="stylesheet"  href="styles/style.css">
  

</head>

<body>
    <h1>Производство красок</h1>
<div class="new">
    <ul class="menu">
        <li><a href="#">Главная</a></li>
        <li><a href="#">Каталог</a></li>
        <li><a href="#">Контакты</a></li>
    </ul>
<div class="filter">
   <!-- <label for="filterBy">Поиск:</label>
   
   /* <input type="text" id="filterValue">
   /* <button onclick="filterCards()">Применить</button>-->
    <form action="/home" method="get">
        <input type="text" name="filterValue" placeholder="Фильтр" value="{{ .filterValue }}">
        <input type="submit" value="Применить">
</div>
</div>
    <div class="container">
        {{ range .services }}
        
        <div class="card">
        <a href="/product/{{ .Name }}">
            <img src="{{ .Image }}" alt="{{ .Name }}">
            <h3>{{ .Name }}</h3>
            <form action="/delete-service/{{ .ID_Colorant }}" method="post">
                    <input type="submit" value="Удалить">
                </form>

            </a>
        </div>
        
        
        {{ end }}
    </div>
    
</body>

</html>
 